body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .results-container {
    display: flex;
    flex-direction: column;
  }

  .table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    width: 600px;
    border: 1px solid #80808033;

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  .go-back-btn {
    margin-bottom: 1em;
    float: left;
    width: 100px;
  }

  .btn-wrapper {
    position: relative;
    .btn-progress {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
    }
  }

  .alert-box {
    width: 200px;
    margin-bottom: 10px;
  }

}

